{{#with post}}
<article class="post post--single">
    <header class="post-header">
        <h2>{{title}}</h2>
    </header>
    <section class="post-content">
        {{#if cover}}
          <a href="{{cover}}">
            <img
                class="post-cover {{#if coverShape}}shape-{{coverShape}}{{/if}}"
                {{#if coverPosition}}
                style="--cover-position: {{coverPosition}};"
                {{/if}}
                src="{{cover}}"
                alt="{{coverAlt}}">
          </a>
        {{/if}}
        {{#if spotify}}
          <iframe style="border-radius:12px" src="{{spotify}}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        {{/if}}
        {{> @partial-block .. }}
    </section>
    {{>pages/post/footer}}
</article>
{{/with}}
