<div class="carousel-listing">
  {{#each posts as |post|}}
  <article class="carousel-listing-item post post--{{post.type}}" style="{{attachColorVariables post}}">

    <header class="post-header">
      <a class="post-category-name" href="{{post.category.permalink}}">
        {{post.category.name}}
      </a>
      <h2 class="post-title">
        <a class="post-title-link" href="{{post.permalink}}">{{post.title}}</a>
      </h2>
      <p class="post-released">Released {{post.publishDateMedium}}</p>
    </header>

    {{#if post.cover}}
    <section class="post-card {{#if post.spotify}}{{else}}post-card-only{{/if}}">
      <a href="{{post.cover}}" class="{{post.type}}-cover">
        <img class="album-cover-image" src="{{post.cover}}" alt="{{post.coverAlt}}">
      </a>
    </section>
    {{/if}}

    {{#if post.spotify}}
    <section class="post-card {{#if post.cover}}{{else}}post-card-only{{/if}}">
      <iframe class="{{post.type}}-spotify" style="border-radius:12px;" src="{{post.spotify}}" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </section>
    {{/if}}

    {{#if post.summary}}
    <section class="post-card {{#if post.cover}}{{else}}post-card-only{{/if}}">
      <div class="{{post.type}}-summary">{{{post.summary}}}</div>
    </section>
    {{/if}}

  </article>
  {{/each}}

  {{#with pagination}}
    <div class="pagination">
      {{#if previousPage}}
        <a href="{{previousPage}}">« {{lookup "previousPage"}}</a>
      {{/if}}
      {{#if nextPage}}
        <a href="{{nextPage}}">{{lookup "nextPage"}} »</a>
      {{/if}}
    </div>
  {{/with}}
</div>
